@font-face {
    font-family: "SoDo Sans";
    src: url('../fonts/SoDo/SoDoSans-Bold.woff') format('tff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
  }
  
  @font-face{
    font-family: "Lander Grande Black";
    src: url("../fonts/Lander/82218f205769deac1e6723cecdafb545.eot");
    src: url("../fonts/Lander/82218f205769deac1e6723cecdafb545.eot?#iefix")format("embedded-opentype"),
        url("../fonts/Lander/82218f205769deac1e6723cecdafb545.woff")format("woff"),
        url("../fonts/Lander/82218f205769deac1e6723cecdafb545.woff2")format("woff2"),
        url("../fonts/Lander/82218f205769deac1e6723cecdafb545.ttf")format("truetype"),
        url("../fonts/Lander/82218f205769deac1e6723cecdafb545.svg#Lander Grande Black")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

body{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Lander Grande Black';
}
p{
  font-weight: 500;
  margin-bottom: 0;
}
.flex-nowrap{
  white-space: nowrap;
}
.font-style-1{
  font-family: 'SoDo Sans';
}
.fs-3{
  font-size: 22px;
}

.fs-4{
  font-size: 18px;
}

.fs-5{
  font-size: 14px;
}
section.home-page{
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(../image/bg/home.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
section.roadmap{
  max-width: 100vw;
    min-height: 100vh;
    background-image: url(../image/bg/dots.png), url(../image/beans.svg), url(../image/bg/roadmap.svg);
    background-size: cover, 35%, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, center, center;
}
section.economy{
  max-width: 100vw;
    min-height: 120vh;
    background-color: #EBDBCC;
}
section.faq{
  max-width: 100vw;
  min-height: 120vh;
  background-image: url(../image/bg/dots.png), url(../image/bg/faq.svg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat ;
  background-position: center, center ;
}
.bg-siren{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: 
        url(../image/bg/sirena.svg), 
        url(../image/bg/dots.png),
        url(../image/bg/light.png);
    background-position: 
        3vw 7vh,
        center,
        top center;
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat;
    background-size: 
        95vw 95vh,
        100vw 100vh,
        cover
        ;
}
section.what-is{
    max-width: 100vw;
    min-height: 100vh;
    background-image: url(../image/bg/bc_points.png);
    background-color: #EBDBCC;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 63%;
}

/* menu */
.menu-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    
}

  .menu-container {
    margin-top: 1.5vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 8vh;
    width: 65%;
    background: rgba(17, 85, 58, 0.3);
    border: 1px solid #BBFBDB;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0 25px;


  }
  .menu-container .menu-link{
  color: #BBFBDB;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  }

  .menu-button{
    background-color: #046A38;
    border: 1px solid #BBFBDB;
    color: #BBFBDB;
    font-weight: 700;
    font-size: 18px;
  }

  .logo{
    width: 6vw;
    height: 6vh;
}


  .menu-link {
    margin: 0 10px;
  }

  .menu-button {
    margin-left: 10px;
  }

  .navbar-dark .navbar-toggler {
    border: none;
}
 .close-btn .bi.bi-x{
    color:#5DF8AC;
    z-index: 10;
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 32px;
  }
  .close-btn{

    display: none;

  }

  /* menu end */

  .title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 14vh;
  }

  .margin{
    top: 12vh;
  }
  .margin-2{
    top: 4vh;
  }

  .title h1{
    font-size: 36px;
  }

  .title h2{
    font-size: 24px;
  }

  .card.buy{
    width: 40vw;
    background: #BBFBDB;
    box-shadow: 0px 4px 50px #1A1817;
    border-radius: 20px;
  }

  .card.buy a{
    color: #2D2926;
    text-decoration: underline;
    font-size: 14px;
  }
  .card.buy input{
    height: 57px;
    background: #E9FDF3;
    border: 1px solid rgba(45, 41, 38, 0.5);
    border-right: none;
    border-radius: 8px;
  }
  .card.buy span.input-group-text{
    height: 57px;
    background: #E9FDF3;
    border-top: 1px solid rgba(45, 41, 38, 0.5);
    border-right: 1px solid rgba(45, 41, 38, 0.5);
    border-bottom: 1px solid rgba(45, 41, 38, 0.5);
    border-left: none;
  }

.paste{
  position: absolute;
  top: 10px;
}
  .card.buy .btn-success{
    margin-top: 30px;
    height: 57px;
    background: #046A38;
    color: #BBFBDB;
    border: 1px solid #1F1A11;
    border-radius: 8px;
  }

  .card-title{
    font-family: 'Lander Grande Black';
    color: #046A38;
    font-size: 24px;
    margin-bottom: 0;
  }

  .metrics{
    min-width: 4.3vw;
    min-height: 3.5vh;
    border: 1px solid rgba(45, 41, 38, 0.5);
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
  }

  .time-number {
    font-size: 1.4vw;
}

.word-break {
    font-size: 1vw;  
}


  .balance p{
    margin-bottom: 0;
    color: #2D2926;
    font-weight: 500;
  }
  .progress{
    display: flex;
    justify-content: center;
    font-weight: 300;
    height: 31px;
    background-color: #07BC63;
    color: #fff;
    border-radius: 50px;
  }
  .progress .progress-bar{
    background-color: transparent;
  }

  .half{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .text-black{
    color:#1A1816;
  }

  .text-green{
    color:#BBFBDB;
  }
  .text-dark-green{
    color:#046A38;
  }

  .card-what-is{
    box-sizing: border-box;
    background: #BBFBDB;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .card-roadmap{
    box-sizing: border-box;
    background: rgba(17, 85, 58, 0.5);
    border: 1px solid #BBFBDB;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 545px;
    margin-right: 10px;
  }
  .card-roadmap ul li{
    list-style-type: disc;
    font-size: 14px;
  }

  button.prev,
  button.next{
    width: 35px;
    height: 35px;
    background-color: #89734C;
    border-radius: 50px;
    border: none;
    margin: 0px 10px;
  }
  .bi.bi-arrow-left,
  .bi.bi-arrow-right{
    color: #fff;
    font-weight: 700;
  }
  button.prev:hover,
  button.next:hover{
    border: none !important;
    box-shadow: none !important;
  }

  .circle{
    width: 78px;
    height: 78px;
    background: #89734C;
    backdrop-filter: blur(25px);
    border-radius: 100px;
    color: #fff;
  }

  .small-circle{
    width: 34px;
    height: 34px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
  }

  .accordion .card{
    background: #BBFBDB;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .accordion .card button{
    font-family: sans-serif;
    font-weight: 700;
    box-shadow: none;
    text-decoration: none;
  }

  .accordion .card button:hover{
    color: #1A1816;
  }

  .accordion>.card:not(:last-of-type) {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion > .card:last-of-type {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
.footer{
  width: 95%;
  height: 78px;
  background: rgba(17, 85, 58, 0.2);
  border: 1px solid #BBFBDB;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  position: absolute;
  bottom: 30px;
}
.mobile-container{
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}

.navbar.navbar-dark{
   margin-top: 1.5vh; 
  box-sizing: border-box;
  height: 8vh;
  width: 95%;
  background: rgba(17, 85, 58, 0.3);
  border: 1px solid #BBFBDB;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 0 25px;
  display: flex; 
  justify-content: space-between;
}
.btn-link{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stbux{
  position: absolute;
  top: 10%;
  left:30%;

}

.modal-custom {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content-custom {
  background: #BBFBDB;
  padding: 20px;
  border-radius: 10px;
  width: 575px;
  margin: 10% auto;
  text-align: center;
  position: relative;
}
.modal-content-custom .close-btn-2,
.stbux .close-btn-2{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
  color: #1A1816 !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent;
}

.col-lg-9.col-md-12.flex-column.align-items-center.justify-content-center.text-left.mt-2.mb-4.order-lg-4.order-md-4.order-4 {
  margin-bottom: 100px !important;
}
.modal-content-custom .close-btn:focus {
  border: none !important;
  box-shadow: none !important;
}
.wallet-btn {

  width: 95%;
  height: 57px;
  border: 1px solid #1A1816;
  background-color: transparent;
  border-radius: 8px;
  margin-top: 10px;
}

.swiper-container {
  width: 550px;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.margin-3{
  top:10vh;
}
