html, body{
    overflow-x: hidden;
    font-family: 'Poppins';
    min-height: 100vh;
}
body{
    background-color: #18191D !important;
    overflow-x: hidden;
}
.main{
    padding-top:0px !important;

}
.sidebar {
    width: 240px;
    background-color: #18191D !important;
    position: fixed;
    z-index: 10;
}
a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
.sidebar .logo img {
    max-width: 120px;
    height: auto;
}

.sidebar .nav-link {
    font-size: 1.1rem;
    height: 58px;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: #2A2B31;
}


/* График */
.chart {
    width: 50%;
    height: 100%;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* Таблица */
.table-block {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.accordion-toggle {
    cursor: pointer;
}

/* Полупрозрачный график */
.transparent-graph-block {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 123, 255, 0.1); /* Полупрозрачный фон */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

/* Кнопки для переключения времени */
.transparent-graph-block .buttons button {
    width: 100px;
    font-size: 0.85rem;
}

/* Блок данных */
.data-block {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}

.table-icon {
    width: 44px !important;
    height: 44px !important;
}
.text-success{
    color: #7AC231 !important;
}
.smaller{
    font-size: 70%;
}
.large{

font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
}

.small-graph {
    display: block;
    width: 100px;
    height: 50px;
    background-color: #e9ecef;
    border-radius: 5px;
}
/* Sidebar styles */
.sidebar {
    width: 240px;
    min-height: 100vh;
    background-color: #343a40;
    color: #ffffff;
    transition: width 0.3s ease;
}

.sidebar .logo:hover{
    background-color: #343a40 !important;
    cursor: unset !important;
}

.logo span {
    max-width: 120px;
    height: auto;
    transition: opacity 0.3s ease;

    text-transform: none !important;
    font-style: normal;
    font-weight: 400;
    font-size: 22px !important;
    line-height: 130%;
    color: #FFFFFF;
}

.sidebar.collapsed {
    width: 68px;
}

.sidebar.collapsed .logo span {
    opacity: 0;
}

.sidebar .nav-link {
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: padding 0.3s ease;
}

.sidebar.collapsed .nav-link {
    padding: 10px;
}

.sidebar .link-text {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .link-text {
    opacity: 0;
    width: 0;
    overflow: hidden;
}

/* Toggle button */
#toggle-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header {
    width: 100%;
}

.dashboard-title h1 {

    margin-left: 40px !important;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

/* Иконка клиента */
.client-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* Имя и статус */
.client-info p {
    font-size: 0.85rem;
    margin: 0;
}

.client-info .font-weight-bold {
    font-size: 1rem;
}

.client-info .text-muted {
    font-size: 0.8rem;
    color: #6c757d;
}

/* Кнопки */
.btn-primary {
    font-size: 0.9rem;
}

.btn-secondary {
    font-size: 0.9rem;
}

.menu a{

    font-style: normal;
    font-weight: 500;
    font-size: 16px !important;
    line-height: 130%;
    color: #5D606F !important;

}


.menu.active a{

    background-color: #2A2B31;
    color: #fff !important;

}

.minimized{
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    transition: opacity 0.3s ease;
}
.sidebar.collapsed .minimized {
    opacity: 0;
    width: 0;
    overflow: hidden;
}
.btn.menu-btn {
    box-shadow: none !important;
    width: 100%;
}

/* header */

#languageDropdown{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-image: url(../images/languige.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: none !important;
    background-color: #000;
}

.btn-primary{
    width: 113px;
    height: 48px;
    background: #7AC231 !important;
    border-radius: 10px;
    border: none !important;
    box-shadow: none !important;

    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
}
#sidebar.no-transition {
    transition: none !important; 
}
.light-grey{
    background: #2A2B31;
}
.dark-grey{
    background: #1D2024;
}

.content-block {
    width: 100%;
    border-radius: 30px;
    position: relative;
    color:#f1f1f1;
    padding: 20px 15px;
}

.table-icon{
    position: relative !important;
}
.content-block img {
    position: absolute;
    top:5px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.table-block .content p{

font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #E4E4E4;
opacity: 0.6;
margin-bottom: 0;

}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-block .view-all{
    width: 107px;
    height: 35px;
    background-color: #141618 !important;
    border-radius: 8px;
    box-shadow: none !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #E4E4E4;

}

/* graph */
  
    .graph-header{
        border-bottom: 1px solid #31353F;
        padding-bottom: 10px;
    }

  .graph-header h1 {
    font-size: 16px;
    margin: 0;
    opacity: 0.7;


  }
  
  .graph-header p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .graph-header h2 {
    font-size: 28px;
    margin: 10px 0 20px;
  }
  
  .time-selector {
    display: flex;
    margin-bottom: 20px;
  }
  
  .time-selector button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: #fff;
    width: 48px;
    height: 25px;
    cursor: pointer;
    opacity: 0.7;
    margin: 0 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .time-selector button.active,
  .time-selector button:hover {
    background-color: #7ac231;
    border: none !important;
    color: #000;
    opacity: 1;
  }
  
  #cryptoChart {
    width: 100% !important;
    height: 70% !important;
  }

  .graf{
    width: 100% !important; 
    height: 30px !important; 
    background-color: transparent;
  }

  .width-correct{
    width: 180px;
  }

  #chart1,
  #chart2,
  #chart3{
    width: 40% !important;
    height: 60px !important;
  }

  .table-striped td{
    font-size: 14px;
    border-top: 1px solid #31353F;
  } 
  #no-desk,
  .no-desk{
    display: none !important;
  }

  #row1:hover,
  #row2:hover,
  #row3:hover,
  #row4:hover{
    background-color: transparent !important;
  }

  /* deposit */
  
  .amount-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .amount-field {
    background-color: #5D606F;
    border: none !important;
    color: #ffffff !important;
    padding: 10px;
    border-radius: 8px;
    width: 220px;
  }

  .amount-field::placeholder{
    color: #fff;
  }
  
  .currency-select {
    background-color: #000;
    border: none !important;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    right: 226px;
    border-radius: 0px 8px 8px 0px ;
    margin-right: 10px;
  }
  
  .submit-btn {
    background-color: #7ac231;
    border: none;
    width: 220px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #68a82e;
  }
  
  .qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .qr-code {
    background-color: #1e1e2f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(122, 194, 49, 0.5);
    margin-bottom: 10px;
  }
  
  .qr-code img {
    width: 150px;
    height: 150px;
  }
  
  .wallet-info {
    color: #b2b2c5;
    font-size: 14px;
    text-align: center;
    display: flex;
  }
  
  .wallet-info span {
    color: #ffffff;
  }

    .method-select{
        width: 220px;
        height: 50px;
        background: #5D606F;
        border-radius: 8px;
        color: #fff;
    }
        
  .copy-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
  }
  .image{
    width: 135px !important;
    height: 135px !important;
  }
  .amount-label{
    width: 100% ;
  }
  .btn-danger{
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }

  label{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
  }

  .custom-input::placeholder{
    color: #9DA4AE;
  }
  .custom-input{
    height: 50px;
    box-shadow: none !important;
    background: #5D606F !important;
    border-radius: 8px;
    border: none !important;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
  }

  .custom-file-label{
    background: #5D606F !important; 
    border: none !important;
    border-radius: 8px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {

    background: #141618;
    border-radius: 0px 8px 8px 0px;
    padding-top: 10px;
    height: 50px;
    color: #fff;
}



.custom-file-label {
    color: #9DA4AE !important;
}

  .btn-success{
    background-color: #7AC231 !important;
    width: 293px !important;
  }

  .table-hover td{
    border: none !important;
    background-color: transparent !important;
    font-size: 12px !important;
    padding: 7px;
    min-width: 100px !important;
  }

  .table-hover th{
    font-size: 12px !important;
    padding-left: 5px !important;
  }

  .table-hover tr {
    border: none !important;
    background-color: transparent !important;
  }

  .menu-language{
    width: 63%;
  }

  .bg-reg{
    background-image: url(../images/authorization.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #authorization {
    border-radius: 10px; 
    max-width: 623px;
    text-align: left;
    background: #2A2B31;
    box-shadow: 0px 0px 55.5px 25px rgba(122, 194, 49, 0.19);
    border-radius: 10px;
  }
  footer {
    font-size: 12px; 
  }
  #authorization h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  }

  #authorization .form-control{
  width: 281px;
  background: #5D606E;
  border-radius: 8px;
  border: none !important;
  box-shadow: none !important;
  color: #9DA4AE;
}

#authorization .form-control.captcha{
  width: 152px;
}
#authorization .form-control::placeholder{
color: #9DA4AE;
}
#authorization p,
#authorization a{
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}

#authorization .btn-block{
  width: 240px !important;
  height: 50px !important;
  background: #7AC231;
  border-radius: 8px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#authorization .text{

  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

}

#authorization .form-row .btn-block{
  width: 281px !important;
}

.bg-reg footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bg-reg .logo{
  position: absolute;
  top: 0;
  width: 100%;
}

#eyeIcon,
#eyeIcon2{
  position: absolute;
  right: 10px;
  top:50%;
}
#togglePassword{
  cursor: pointer;
}
  @media (max-width: 1145px) {
    #sidebar-menu.hide-menu {
        display: none; 
    }
    .sidebar.collapsed .link-text {
        opacity: 1 !important;
        width: unset !important;
    }
    .col-6{
        flex:0 0 100%;
        max-width: 100%;
        height: 400px !important;
        padding: 0 !important;
    }
    .col-6.justify-content-between{
        justify-content: center !important;
    }
    .col-12.d-flex {
        flex-direction: column;
        height: 400px;
    }
    main{
        width: 100%;
    }
    .margin-correct{
        margin-top: 400px;
    }

    .margin-correct-3{
        margin-top: 100px;
    }

    .content-block{
        height: 380px !important;
    }

    .sidebar{
        min-height: unset;
        height: 94px !important;
        width: 100% !important;
        z-index: 2;
    }

    .mobile-menu-btn {
        display: none;  
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 1100;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
      
      .mobile-menu-btn img {
        width: 24px;
        height: 24px;
      }

      .mobile-correct{
        flex-direction: column;
      }

      .width-correct{
        width: 0px;
      }
      .accordion-toggle td {
        padding: 10px !important; 
    }
      .no-mobile{
        display: none !important;
      }

      #cryptoChart {
        width: 100% !important;
        height: 50% !important;
    }
      canvas {
        position: relative;
      }
        canvas ~ .chartjs-x-labels {
        display: none !important;
        }
      .accordion-toggle td{
        padding: 15px 5px;
      }
      .logo{
        margin-top: 15px;
      }
      .mobile-menu-btn {
        display: block;
        margin-top: 15px;
      }
      button#toggle-btn{
        display: none !important;
      }
      
      #no-desk,
      .no-desk{
        display: flex !important;
      }
#sidebar-menu {
    transition: transform 0.3s ease;
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: #18191D;
    top:60px;
  }

  .height-correct{
    height: unset !important;
  }
  
 
  #sidebar-menu.hide-menu {
    transform: translateY(-130%);
  }

  #sidebar-menu .menu,
  #sidebar-menu .menu a{
    width: 100%;
    display: flex;
    justify-content: center !important;
  }
  .currency-select {

    right: 225px !important;
}
.method-select{
        width: 220px;
}
}

@media (max-width: 768px) {
    .menu-language{
        width: 72%;
      }
    .input-group{
        width: 300px;
    }
    .col-12.pl-5{
        padding-left: 20px !important;
    }

    .amount-field {
        margin-bottom: 20px;
        width: 250px;
    }
    .submit-btn{
        width: 250px;
    }

    .currency-select {

        right: 15px !important;
  }
  .amount-label{
    width: 85% !important;
  }
  .method-select{
    width: 250px;
}
.margin-correct-2{
    margin-top: 120px;
}
.margin-correct-3{
    margin-top: 370px;
}
.col-12.mx-3{
    margin-left: 0px !important;
}
.col-md-2{
    padding-right: 5px !important;
    padding-left: 5px !important; 
}
.files{
    flex-direction: column;
    
}
.no-laptop{
    opacity: 0;
    width: 0 !important;
    margin: 0 !important;
}


#authorization .form-row .btn-block,
#authorization .form-control{
  width: 100% !important;
}
#authorization .col-md-6{
  flex: 0 0 100%;
  max-width: 100%;
}

.bg-reg .logo,
.bg-reg footer{
  position: relative;
}

body.d-flex.bg-reg{
  flex-direction: column;
}
}


/* home page */

h1, h2, h3, h4, h5{
  position: relative;
  z-index: 10;
}

/* menu */
.menu-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100%;
  position: absolute;
  top:0;
}

.menu-container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 55%;
  background: #000000;
  border-radius: 10px;
  height: 7vh;
  padding: 0 40px;


}
.menu-container .menu-link{
color: #fff;
font-weight: 700;
font-size: 16px;
text-decoration: none;
}

.menu-link.active,
.menu-link:hover{
  color: #7AC231;
  }


.menu-button{
  background-color: #046A38;
  border: 1px solid #BBFBDB;
  color: #BBFBDB;
  font-weight: 700;
  font-size: 18px;
}

.logo{
  width: 6vw;
  height: 6vh;
}


.menu-link {
  margin: 0 10px;
}

.menu-button {
  margin-left: 10px;
}

.navbar-dark .navbar-toggler {
  border: none;
}
.close-btn{
  color:#7AC231;
  z-index: 10;
  top: 10px;
  right: 35px;
  position: absolute;
  font-size: 52px;
  background-color: transparent;
  border: none;
}
.menu-wrapper .close-btn{

  display: none;

}

.bg-light{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #18191D !important;
  background-image: 
      url(../images/bg/bg-ellipse-half.svg), 
      url(../images/bg/bd-circuit.svg);
  background-position: 
      top center,
      top center;
  background-repeat: 
      no-repeat,
      no-repeat;
  background-size: 
      80vw,
      80vw 70vh;
  left: 0;

}

.title{
  position: relative;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 150px 0;
  text-align: center;
}

.title h2{
  width: 48%;
  font-weight: 600;
  font-size: 26px;
}
.title h1{
  width: 48%;
  font-weight: 600;
  font-size: 48px;
}
.title h3{
  width: 35%;
  font-weight: 600;
  font-size: 18px;
}

.metrics{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
background: #2A2B31;
border-radius: 30px;
padding: 20px 0;
max-width: 24% !important;
}

.metrics p{
  margin-bottom: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.metrics strong{
font-weight: 500;
font-size: 32px;
line-height: 48px;
color: #7AC231;
}

section.about-us{
  padding: 80px 0;
}

section.about-us h4,
section.advantages h4{
width: 100%;
font-weight: 700;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #FFFFFF;
}
.border-b{
  border-bottom: 1px solid #FFFFFF;
}
.border-t{
  border-top: 1px solid #FFFFFF;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info p{
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}

.info h5{
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #7AC231;
  margin-bottom: 25px;
}
.info ul li{
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
}

.info img{
  width: 100%;
}

.multicurrency{
  height: 60vh;
  width: 100%;
  background-image:url(../images/bg/bg-multi.svg) ;
  background-size: cover;
  background-repeat: no-repeat;
}
.multicurrency button{
  width: unset;
  padding: 0 20px;
}
.scrolling-wrapper {
  width: 100%;
  height: 59px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.scrolling-content {
  display: flex;
  position: absolute;
  transform: translateY(-50%);
  white-space: nowrap;
}

.fs-2{
  font-size: 30px !important;
}
.fs-3{
  font-size: 21px !important;
}
.map{
  height: 60vh;
  width: 100%;
  background-image: url(../images/bg/bg-map.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.bg-light-btm {
  position: absolute;
  width: 100vw;
  height: 60vh;
  background-image: url(../images/bg/bg-ellipse.svg);
  background-position:top center; 
  background-repeat: no-repeat;
  background-size: 100vw 160vh; 
  bottom: 0; 
  left: 0;
}

.btn-contact{
  display: flex !important;
  position: absolute;
  cursor: pointer;
  top:30%;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 208px;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  z-index: 10;
  box-shadow: none !important;
}
.btn-contact:hover{
  text-decoration: none !important;
  color: #fff !important;

}
.footer-list{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  z-index: 10;
}

.footer-list li{
  position: relative;
  list-style-type: none;
  cursor: pointer;
  padding-right: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #999999;
  z-index: 10;
}
.btn-up{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  bottom: 15%;
  width: 55px;
  height: 55px;
  background: #7AC231;
  border-radius: 10px;
  z-index: 10;
  box-shadow: none !important;
}
.btn-up .bi-arrow-up-short{
  font-size: 45px;
  font-weight: 900;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../images/menu.png) !important;
}
.no-desk{
  display: none !important;
}
.no-mobile-v{
  display: block;
}
.dropdown{
  position: relative;
  z-index: 10;
}
.dropdown-menu.show{
  background-color: #2A2B31;
  border-radius: 8px;
  min-width: 52px;

}
.dropdown-item{
  color:#fff !important;
}
.dropdown-item.active{
  color: #7AC231 !important;
  background-color: transparent !important;
}
.navbar.navbar-dark{
  padding-top: 20px;
}
.btn-primary{
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px){
  .title h1 {
    width: 60%;
  }
  .menu-container {
    padding: 0 25px;
    width: 52%;
  }
  .menu-container .menu-link {
    font-size: 14px;
}
.multicurrency .title{
  padding-top: 110px;
}
.menu-link{
  margin: 0 5px;
}
}


@media (max-width: 992px){
  .navbar.navbar-dark{
    padding-top: 0px;
  }
  .metrics {
    max-width: 49% !important;
    margin-top: 20px;
}
  .no-desk{
    display: block !important;
  }
  .info img {
    width: 70%;
    margin: 30px 0;
  }
  .info h5 {
    margin: 25px 0;
    width: 100%;
  }
  .info {
    align-items: center;
    text-align: left;
  }
  .swiper-container {
      width: 395px;
      overflow: hidden;
    }
    .card-roadmap {
      width: 395px;
  }
  .d-md-none {
      display: block !important;
  }
  .time-number {
          font-size: 1.4vw; 
      }
  .word-break {
          font-size: 1vw;
      }

  .menu-container .menu-link {
      font-size: 16px;
      white-space: nowrap;
      padding: 15px 0px;
      width: 100%;
      text-align: center;
  }    
  .menu-container{
      flex-direction: column;
      height: unset;
      top:-10px;
      margin-top: 0px;
      position: absolute;

  }

  .menu-container .menu-button {
      font-size: 16px;
      width: 80%;
      margin-top: 15px;
  }
  .navbar.navbar-dark{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu-logo{
    position: absolute;
    top: 10px;
    left:40%;
  }
  .mobile_adaptive {
      flex-direction: column;
      background-color: #18191D;
      width: 110vw !important;
      position: relative;
      padding: 80px 0;
  }

  .menu-wrapper {
      position: absolute;
      color: white;
      top:0

  }
  .collapse:not(.show) {
      display: none !important;
  }
  .menu-wrapper .close-btn{
      display: block;
  }
  .menu-wrapper .close-btn{
      display: block;
    }
    .mobile-container{
      display: flex;

    }
    .mobile-logo{
      margin-right: 30px;
    }
    .map {
      background-size: unset; 
  }
  }
  @media (max-width: 768px){
    .title h1,
    .title h2,
    .title h3{
      width: 100% !important;
    }
    .title h1{
      font-size: 40px;
    }
    .multicurrency .title{
      padding-top: 20px;
    }
    .bg-light {
      background-size: 120vw
    }
    .bg-light-btm {
      background-size: 120vw 120vh;
  }
  }
  @media (max-width: 540px){
    .no-mobile-v{
      display: none;
    }
    .menu-logo {
      left: 25%;
  }
  .metrics {
    max-width: 100% !important;
  }
  .footer-list{
    flex-direction: column;
  }
  .footer-list li{
    padding: 10px 0;
  }

}
@media (max-width: 390px){
  .menu-logo{
    width: 150px;
  }

}
.modal-content{
    background: #2A2B31;
}
.modal-header{
  border-bottom: none !important;
}
.modal-content .form-control{
  height: 50px;
  background: #5D606E;
  border-radius: 8px;
  border: none;
  color: #fff;
}
.modal-content .form-control::placeholder {
  color: #9DA4AE !important;
}
.modal-content .btn-success{
      width: 240px;
      height: 50px;
      background: #7AC231;
      border-radius: 8px;
}
.modal-header button{
  background-color: transparent;
  border:none !important ;
}

.modal-header button:hover{
  background-color: transparent;
  border:none !important ;
}

.modal-header button:focus{
  background-color: transparent;
  border:none !important ;
  box-shadow: none !important;
}
.form-control.captcha{
  width: 152px;
}
#authorization .btn-success{
  font-family: 'Poppins';
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-wrapper{
  pointer-events: none;
}
.mobile_adaptive{
  pointer-events: auto;
}